.navbar__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-left: 30px;
}

.navbar__logo {
    width: 50%;
    align-self: center;
    position: relative;
}

.navbar__menuTogglerCont {
    width: 30%;
    height: 100%;
    background-color: $color--black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__menuToggler {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__menuBar {
    width: 75%;
    height: 3px;
    background-color: #fff;
    transition: all .25s ease-out;
    transform-origin: left top;
    &:nth-child(2n) {
        width: 100%;
    }
}

.navbar__menuToggler--active {
    .navbar__menuBar:nth-child(2n) {
        opacity: 0;
    }
    .navbar__menuBar:first-child {
        transform: rotate(45deg) translateY(-5px);
        width: 48px;
    }

    .navbar__menuBar:last-child {
        transform: rotate(-45deg) translateY(5px);
        width: 48px;
    }
}

@media (min-width: $desktop--min--width) {
    .navbar__logo {
        width: 20vw;
        max-width: 315px;
        margin-bottom: -60px;
    }

    .navbar__menuTogglerCont {
        display: none;
    }
}
