.welcome__container {
    position: relative;
}

.welcome__heroCont {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
}

.welcome__hero {
    height: 260px;
}

.welcome__header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 260px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.welcome__withUnderline {
    position: relative;
}

.welcome__withUnderline::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 38%;
    height: 5px;
    background-color: $color--pink;
}

.welcome__text {
    line-height: 24px;
    font-weight: 400;
    padding: 30px;
    padding-right: 45px;
}

.welcome__linkCont {
    padding: 30px;
    div {
        margin-top: 30px;
    }
    div:first-child {
        margin: 0;
    }
}

@media (min-width: $desktop--min--width) {
    .welcome__container {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        width: 100%;
        margin-bottom: calc(25vh + 120px);
    }

    .welcome__heroCont {
        position: relative;
        align-self: flex-start;
    }

    .welcome__hero {
        height: 100%;
        max-height: calc(90vh - 120px);
        width: auto;
    }

    .welcome__textCont {
        width: 72%;
        margin-right: -17.5%;
        position: relative;
        &:before, &:after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: -60px;
            width: 42%;
            height: 2px;
            background-color: #202020;
        }

        &:after {
            left: 42%;
            background-color: #d5d5d5;
        }
    }

    .welcome__header {
        font-size: 54px;
        margin: 0;
        padding-bottom: 0;
    }

    .welcome__withUnderline::after {
        bottom: 9px;
        z-index: -1;
        height: 5px;
        width: 33%;
    }

    .welcome__text {
        width: 70%;
        padding-top: 0;
    }

    .welcome__linkCont {
        padding-bottom: 0;
    }

    .welcome__makeAppointmentCont {
        position: absolute;
        right: 15%;
        bottom: 0;
        transform: translateY(50%);
    }
}

@media (min-width: $big--desktop--min--width) {
    .welcome__withUnderline:after {
        bottom: 15px;
        width: 35%;
    }
    .welcome__textCont {
        width: 60%;
        margin-right: -16%;
    }

    .welcome__text {
        width: 60%;
    }

    .welcome__textCont {
        &:before, &:after {
            bottom: -120px;
        }
    }

    .welcome__header {
        font-size: 80px;
    }
}
