.welcome__container {
    position: relative;
}

.welcome__heroCont {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
}

.welcome__hero {
    height: 260px;
}

.welcome__header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 260px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.welcome__withUnderline {
    position: relative;
}

.welcome__withUnderline::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 38%;
    height: 5px;
    background-color: $color--pink;
}

.welcome__text {
    line-height: 24px;
    font-weight: 400;
    padding: 30px;
    padding-right: 45px;
}

.welcome__linkCont {
    padding: 30px;
}

@media (min-width: $desktop--min--width) {
    .welcome__container {
        display: flex;
        align-items: flex-end;
        width: 100%;
        min-height: 500px;
    }

    .welcome__heroCont {
        right: 0;
        left: 30%;
        bottom: 0;
        width: 70%;
        overflow: hidden;
    }

    .welcome__hero {
        width: 100%;
        height: auto;
    }

    .welcome__textCont {
        height: 100%;
        width: 50%;
    }

    .welcome__header {
        font-size: 80px;
        margin: 0;
        padding-bottom: 0;
    }

    .welcome__withUnderline::after {
        bottom: 15px;
        z-index: -1;
        height: 8px;
        width: 35%;
    }

    .welcome__text {
        width: 50%;
        padding-top: 0;
    }

    .welcome__linkCont {
        padding-bottom: 0;
    }

    .welcome__makeAppointmentCont {
        position: absolute;
        right: 15%;
        bottom: 0;
        transform: translateY(125px);
    }
}
